*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif; 

}


.top{
    background-color:#fc7a60 ;
    height: 50vh;
 
   
}

.projects{
    background-color:hsl(22deg 23% 91%) ;
    height: 30vh;
}


.Experience{
    background-color: #5bc4eb; ;
height: 30vh;


}



.top header{
    background-color:hsl(78deg 10% 20%);
    color:rgb(240, 240, 232);
    display: grid;
    grid-template-columns:1fr auto;
    height: 50px;

   
    
  
}
.nav-list{
 display: grid;
grid-auto-flow: column;
list-style:none;
gap:15px;
}

.nav-list a{
    color:white;
    text-decoration: none;
    align-items: center;
    font-weight: 30px;
}

.nav-list a:hover{

    color:#fc7a60;
}

.inner-text-description{
    border:1px solid;
    width:450px;
    height: 300px;
    margin:50px 0px 0px 550px;
    background-color: hsl(78deg 10% 20%);
    padding:5px;
}

.full-stack{
    color: #face00;
    padding-top:5px;
    padding-left:50px
    
}

.paragraph{
    color:white;
    padding-top:2px;
}

.img-svg{
    padding-bottom:140px;
}

.projects{
    display: grid;
    padding-bottom:13px ;

    
}


.project-3{
    display:grid;
    grid-template-columns:200px 200px 200px;
   place-content: center;
    list-style:none;
    gap:3rem;
}


.projects h2{
  text-align: center;
}

.project-item{
    border:1px solid;
    margin:1px;
    width:200px;
    align-content: center;
}

.project-item a:hover{
 opacity:0.4;
}

.Swine-Meeper{
    color:#fc7a60 ;
  
}


.project-item a{

    text-decoration: none;
    background-color: #fc7a60 ;
    color:white;
    padding-right:104px;

    border-radius:1px;
    
}

.project-item img{
    width:100%;
    justify-self: center;
}

.project-item .lottery{
    width:100%;
}

.project-item .stopwatch{
    width:50%;
    
}


footer{
    background-color: black;
    

color:white;
text-align: center;
list-style: none;
}

.Experience h3{
    text-align: center;
}

    

.Experience-main{
    margin-left: 550px;
    margin-top:20px;
gap:1rem;
}

.Experience-main-list{
    border:1px solid;
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    width:500px;
    height: 50px;
    text-align: center;

 
    
}

.Experience-main-list img{

width:40px;
}

footer{
    height: 60px;
}

footer a{
    color:white;
    align-items: center;
    text-decoration: none;
   padding-top:134px;
   
}

footer a h3 {
padding-top:20px;



}

footer a h3:hover {
 
    color:#fc7a60;
   box-shadow: #5bc4eb;